@model HomePage

<article class="page page--home">
    <h1 class="page-title">@Html.PropertyFor(m => m.Title)</h1>
    <div class="page-body">
        @Html.PropertyFor(m => m.MainBody)
    </div>
    <div class="main-content-area">
        @Html.PropertyFor(m => m.MainContentArea)
    </div>
</article>
