@model StandardPage
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@(string.IsNullOrWhiteSpace(Model.MetaTitle) ? Model.Title ?? Model.Name : Model.MetaTitle)</title>
    @if (!string.IsNullOrWhiteSpace(Model.MetaDescription))
    {
        <meta name="description" content="@Model.MetaDescription" />
    }
</head>
<body>
    <h1>@Html.PropertyFor(m => m.Title)</h1>
    <div>@Html.PropertyFor(m => m.MainBody)</div>
</body>
</html>
