@model StandardPage

<article class="page page--standard">
    <h1 class="page-title">@Html.PropertyFor(m => m.Title)</h1>
    <div class="page-body">
        @Html.PropertyFor(m => m.MainBody)
    </div>
</article>
